body{
	
	background-image: url(login.jpg);
}

form{
	margin-top: 100px;
	height: 450px;
	padding-top: 20px;
	padding-bottom: 20px;
    width: 400px;
    margin-left: 450px;
    border: 5px solid black;
	border-radius: 10px;
}
.inp{
	width : 300px;
	height: 50px;
	border: 5px solid black;
	border-radius: 10px;
}
button{
	color: white;
	background-color: red;
	font-weight: bold;
	height: 40px;
    width: 100px;
    border-radius: 5px;
}
